
<section class="hero">
  <p></p>
  <h1>Aprovechamiento de Residuos y Separación en la Fuente</h1>
  <p></p>
  <h2><p>El aprovechamiento de residuos es el proceso de recolectar, 
      procesar y utilizar los residuos como recursos valiosos, 
      en lugar de desecharlos como basura. 
      Este enfoque busca reducir el impacto ambiental negativo 
      de los residuos y generar beneficios económicos y sociales.</p></h2>
  <p><strong>Únete a nuestra misión de reducir, reutilizar y reciclar</strong></p>
  <h2><strong>Conoce más!!!</strong></h2>
   
</section>

 
<section class="columns">
  <article>
    <h2><strong>Residencial</strong></h2>
      <p>La separación de residuos en casa es un paso fundamental para reducir, 
      reutilizar y reciclar.</p>
      <p><img src="icons/residencial.jpg" alt="Residencial"></p> 
      <p>Aquí te presento los pasos básicos para hacer la separación de residuos en casa:</p>
      <p>1. Utiliza contenedores separados para cada categoría.</p>
      <p>2. Limpia y seca los residuos antes de depositarlos.</p>
          <p>3. Retira etiquetas y tapas de plástico.</p>
              <p>4. Aplasta cartones y papel para ahorrar espacio.</p>
                  <p>5. No mezcles residuos peligrosos con otros residuos.</p>
  </article>
  
  <article>
    <h2><strong>Comercial</strong></h2>
    <p>Implementa prácticas sostenibles en tu negocio</p>
    <img src="icons/comercial.png" alt="Comercial">
    <p>Reducir, reutilizar y reciclar: Principio clave</p>
    <li><strong>Reducción:</strong> Disminuir la cantidad de residuos generados en origen, 
      mediante la optimización de procesos y la adopción de prácticas más eficientes.</li>
      <p>-----------------------------------------------------</p>
    <li><strong>Reutilización:</strong> Promover la reutilización de productos y materiales siempre que sea posible, 
      prolongando su vida útil y reduciendo la necesidad de recursos nuevos.</li>
      <p>-----------------------------------------------------</p>
    <li><strong>Reciclaje:</strong> Implementar programas de reciclaje adecuados para los diferentes tipos de residuos, 
      fomentando la separación en origen y el uso de materiales reciclados en la cadena de producción.</li>

    </article>

  <article>
    <h2><strong>Industrial</strong></h2>
    <p>Optimiza tus procesos para reducir residuos</p>
    <img src="icons/industrial.jpg" alt="Industrial">
    <p><strong>Tipos de aprovechamiento de residuos:</strong></p>
      <p><strong>1. Reciclaje:</strong> Proceso de convertir residuos en productos nuevos, como papel, vidrio, plástico, metal.</p>
      <p><strong>2. Compostaje:</strong> Proceso de descomposición natural de residuos orgánicos para producir abono.</p>
      <p><strong>3. Energía:</strong> Generación de energía a partir de residuos, como biogás, electricidad.</p>
      <p><strong>4. Reutilización:</strong> Uso de residuos como materia prima para productos nuevos.</p>
      <p><strong>5. Minimización:</strong> Reducción de la cantidad de residuos generados.</p>
      
  </article>
</section>

<h4></h4>

<section class="columns1">
<article>
  <h2><strong>BENEFICIOS DEL APROVECHAMIENTO DE RESIDUOS:</strong></h2>
    <p></p>
  <h2><p><strong>1. Reducción del impacto ambiental:</strong> Menos residuos en vertederos y menos contaminación.</p>
    <p><strong>2. Conservación de recursos naturales:</strong> Reducción del consumo de materias primas.</p>
    <p><strong>3. Generación de empleo:</strong> Creación de oportunidades laborales en la industria del reciclaje.</p>
    <p><strong>4. Ahorro económico:</strong> Reducción de costos de eliminación de residuos.</p>
    <p><strong>5. Mejora de la salud pública:</strong> Reducción de enfermedades relacionadas con la contaminación.</p>
  </h2>
</article>

<article>
  <h2><strong>DESAFÍOS Y OPORTUNIDADES:</strong></h2>
    <p></p>
    <p></p>
    <p></p>
  <h2><p><strong>1. Infraestructura:</strong> Desarrollo de sistemas de recolección y procesamiento.</p>
    <p><strong>2. Conciencia pública:</strong> Educación y sensibilización sobre la importancia del aprovechamiento de residuos.</p>
    <p><strong>3. Tecnología:</strong> Innovación en procesos y productos.</p>
    <p><strong>4. Políticas públicas:</strong> Regulación y apoyo gubernamental.</p>
    <p><strong>5. Economía circular:</strong> Integración del aprovechamiento de residuos en la economía.</p>
  </h2>
</article> 
</section>
<h4></h4>     
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Aprovechamiento de Residuos</p>
    <p>Integrantes Equipo 10 TalentoTech</p>
    <p>♻️♻️♻️ Yaqueline Restrepo Munera ♻️♻️♻️ Felipe Saldarriaga García ♻️♻️♻️ Alexánder López Benjumea ♻️♻️♻️</p>
  </footer>

  <!--  styles.css -->

  