<div class="bg-success-subtle">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home"><p class="text-dark">HOME</p></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/predio"><p class="text-dark">PREDIO</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuario"><p class="text-dark">USUARIO</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/material"><p class="text-dark">MATERIAL</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/categoriaMaterial"><p class="text-dark">CATEGORIA MATERIAL</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/recoleccion"><p class="text-dark">RECOLECCION</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/estadistica"><p class="text-dark">ESTADISTICA</p></a>
    </li>
  </ul>
</div>

<router-outlet />